#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

ifeq ($(DEB_HOST_ARCH),i386)
    EXTRA_CONFIG_FLAGS := --enable-asm=x86
endif

ifeq ($(DEB_HOST_ARCH),amd64)
    EXTRA_CONFIG_FLAGS := --enable-asm=x64
endif

CONFIG_ALL += --enable-shared
CONFIG_ALL += --enable-pic

%:
	dh $@ 

override_dh_auto_configure:
	./configure $(CONFIG_ALL) $(EXTRA_CONFIG_FLAGS)

override_dh_auto_test:
override_dh_pysupport:
override_dh_usrlocal:
